<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/mainpage/logo/favicon.ico" type="image/x-icon">
    <link rel="icon" href="./static/mainpage/logo/favicon.ico">
    <meta name="robots" content="index, follow">
    <meta name="description"
        content="PriceStalk is a website which uses gives the best deals for the products you want">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="./static/mainpage/css/style.css">
    <title>PriceStalk</title>
</head>

<body>
    <script src="./static/mainpage/js/app.js"></script>
    <div id="home">
        <header class="head-main">
            <nav class="nav-bar">
                <h1>PriceStalk</h1>
                <div class="menu">
                    <h2>Menu</h2>
                </div>
                <ul>
                    <li><a href="#home">
                            <h2>Home</h2>
                        </a></li>
                    <li><a href="#about">
                            <h2>About Us</h2>
                        </a></li>
                </ul>
            </nav>{%if form%}
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Hello User, The price has dropped to {{budget}}==><a href="{{URL}}">Click here</a>
              </div>
              {%endif%}
        </header>
        <section class="main-back">
            
            <h1 class="intro-text">Great Products</br>Missed Deals</h1>
            <button class="shop-button" id="clickon" onclick="jadoo()">Shop Now</button>
            <form id="form" class="form" method="POST">{% csrf_token %}
                
                <input type="url" placeholder="Enter the URL" class="URL formele"name="URL2" required>
                <input type="number" placeholder="Enter Budget" class="Budget formele"name="budget2" required>
                <input type="E-mail" placeholder="E-mail" class="mail formele"name="email2" required> 
                <button type="submit">Submit</button>
            </form>
        </section>
    </div>
    <div id="about">
        <section class="about-back">
            <div class="about-us">
                <div class="about-text">
                    <h1>PriceStalk</h1>
                    <p>Shopping online is similar to participating in the stock market than shopping at your local
                        store.
                        Prices don’t just change with the season or when something goes on sale. They oscillate as often
                        as
                        every 15 minutes.</br>

                        The steady value changes have irritated a few buyers when they see the cost of a thing drop
                        directly
                        after they buy it.</br>
                        We designed a website which will follow the costs and advise the client when the item is
                        accessible
                        at the least expensive rate.</p>
                </div>
            </div>
            <div class="img-gallery">
                <div class="aamche-photo">
                    <div class="mandar"><img src="./static/mainpage/img/mandar.jpeg" alt="">
                        <h2>Mandar Bakshi</h2>
                        <h3>Co-Founder</h3>
                    </div>
                    
                    <div class="prathamesh"><img src="./static/mainpage/img/prathamesh.jpeg" alt="">
                        <h2>Prathamesh Gautame</h2>
                        <h3>Co-Founder</h3>
                    </div>
                
                </div>
            </div>
        </section>
        <footer><br>
            <h2>A creation of Mandar Bakshi and Prathamesh Gautame </br></h2><h2>PriceStalk &copy;2020</h2>
        </footer>
    </div>
</body>

</html>